In [ ]:
# Importing necessary libraries
import pandas as pd

# Load the Titanic dataset
titanic = pd.read_csv("/content/drive/MyDrive/Titanic-Dataset.csv")

# **Task 3.1: Fare Revenue Proportion by Class**
# Calculate the total Fare paid across all passengers
total_fare = titanic['Fare'].sum()

# Calculate total Fare for each class
first_class_fare = titanic[titanic['Pclass'] == 1]['Fare'].sum()
second_class_fare = titanic[titanic['Pclass'] == 2]['Fare'].sum()
third_class_fare = titanic[titanic['Pclass'] == 3]['Fare'].sum()

# Combine the fare totals from each class
fare_totals = [first_class_fare, second_class_fare, third_class_fare]

# Calculate the proportion of fare revenue by class
fare_proportions = [fare / total_fare * 100 for fare in fare_totals]

# Display results
print("Fare Revenue Proportion by Class:")
print(f"First Class: {fare_proportions[0]:.2f}%")
print(f"Second Class: {fare_proportions[1]:.2f}%")
print(f"Third Class: {fare_proportions[2]:.2f}%")

# **Task 3.2: Age Group Proportion**
# Create a new column categorizing age groups
def categorize_age(age):
    if age < 18:
        return "child"
    elif 18 <= age < 65:
        return "adult"
    else:
        return "senior"

# Handle missing Age values by filling with the median age
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].median())

# Add age_group column
titanic['age_group'] = titanic['Age'].apply(categorize_age)

# Calculate the total number of passengers
total_passengers = len(titanic)

# Count passengers in each age group
age_group_counts = titanic['age_group'].value_counts()

# Calculate the proportion of passengers in each age group
age_group_proportions = (age_group_counts / total_passengers) * 100

# Display results
print("\nPassenger Proportion by Age Group:")
for group, proportion in age_group_proportions.items():
    print(f"{group.capitalize()}: {proportion:.2f}%")

Fare Revenue Proportion by Class:
First Class: 63.35%
Second Class: 13.25%
Third Class: 23.40%

Passenger Proportion by Age Group:
Adult: 86.08%
Child: 12.68%
Senior: 1.23%

In [ ]:
# Importing necessary libraries
import pandas as pd

# Load the Titanic dataset
titanic = pd.read_csv("/content/drive/MyDrive/Titanic-Dataset.csv")

# **Subsetting Rows**

# 1. Filter passengers where Fare > 100
fare_gt_100 = titanic[titanic['Fare'] > 100]
print("Passengers with Fare > 100:")
print(fare_gt_100.head())

# 2. Filter passengers in class Pclass = 1
first_class = titanic[titanic['Pclass'] == 1]
print("\nPassengers in First Class (Pclass = 1):")
print(first_class.head())

# 3. Filter female passengers (Sex is "female") with Age < 18
female_under_18 = titanic[(titanic['Sex'] == 'female') & (titanic['Age'] < 18)]
print("\nFemale passengers under 18:")
print(female_under_18.head())

# **Subsetting Rows by Categorical Variables**

# 1. Filter passengers whose Embarked port is either 'C' or 'S'
embarked_c_or_s = titanic[titanic['Embarked'].isin(['C', 'S'])]
print("\nPassengers embarked at port 'C' or 'S':")
print(embarked_c_or_s.head())

# 2. Filter passengers whose Pclass is in [1, 2]
first_second_class = titanic[titanic['Pclass'].isin([1, 2])]
print("\nPassengers in First or Second Class:")
print(first_second_class.head())

Passengers with Fare > 100:
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

Passengers in First Class (Pclass = 1):
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

Female passengers under 18:
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

Passengers embarked at port 'C' or 'S':
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Passengers in First or Second Class:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S